body {
    background-color: white ;
}

.Fondonegro {
    width: 1330px;
    margin-left: -10px;
    margin-right: 15px;
}
@keyframes fadeInMove {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.MZ {
    animation-delay: 1.2s;
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: -380px;
    animation-name: fadeInMove;               /* Nombre de la animación */
    animation-duration: 3s;                   /* Duración de la animación */
    animation-timing-function: ease-in-out;   /* Función de temporización */
    animation-delay: 1s;                      /* Retraso antes de iniciar la animación */
    animation-iteration-count: infinite;      /* Número de repeticiones */
    animation-direction: alternate;           /* Dirección de la animación */
    animation-fill-mode: forwards;            /* Estilo final de la animación */
}
.Slogan {
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 0px;
}
.S2P {
    color: #A6821E;
    text-align: right;
    margin-top: 50px;
}
.WHY {
    font-size: 75px;
    margin-top: 200px;
    text-align: justify;
    margin-left: 650px;
}
.T1 {
    margin-top: -35px;
    font-size: 1.7em;
    text-align: justify;
    margin-left: 650px;
}
.B1 {
    margin-right: 445px;
    font-size: 2em;
    color: #A6821E;
    border-color: #A6821E;
    background-color: white;
    padding-block: 10px;
    padding-inline: 35px;
}
.slider-box {
    width: 600px;
    height: auto;
    margin: -380px 20px 0;
}
.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite alternate ease-in-out;
}
.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}
.slider-box img {
    width: 100%;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100; }
    45% { margin-left: -100; }

    50% { margin-left: -200; }
    70% { margin-left: -200; }

    75% { margin-left: -300; }
    100% { margin-left: -300; }
}





